language: node_js
cache:
  directories:
    - node_modules
notifications:
  email: false
node_js: 8
script:
  - cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js
after_success:
  - npm run semantic-release
branches:
  except:
    - /^v\d+\.\d+\.\d+$/

